{% extends "customer/base.html" %}
{% block content %}
<div class="mt-5 w-100">
    <div class="h2 text-light">Share your pint</div>
    <div class="container align-middle justify-content-center text-light mt-5 border border-light rounded"
         style="max-width: 400px;">
        Current credit balance: {{ customer.credits }}
        This page would contain purchase processes to allow the user to add credits to their account.
        In the meantime, just click this button and it will add credit to the account:
        <a role="button" class="btn btn-block btn-danger" href="{% url 'add-credit' %}">Add 1 credit</a>
    </div>
</div>

{% endblock content %}