{% extends "customer/base.html" %}
{% block content %}
<div class="mt-5 w-100">
    <div class="h2 text-light">Share your pint</div>
    <div class="container align-middle justify-content-center text-light mt-5 border border-light rounded"
         style="max-width: 400px;">
        Congrats, you have purchased a pint!
        You can either share your pint, using this link, or screenshot this and send it to your drinking pal.
        {{ new_pint.share_url }}
        <a role="button" class="btn btn-block btn-primary" href="{% url 'create-pint' %}">Purchase another pint</a>
    </div>
</div>

{% endblock content %}